{% extends 'base.html.twig' %}

{% block body %}
{{parent()}}
    <div class="container">
        <br>
        <h3>Información del producto</h3>
        <br><br>
        
        <table class="table table-dark table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Stock</th>
              </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <th scope="row">{{ producto.id }}</th>
                        <td>{{ producto.codigo }} </td>
                        <td>{{ producto.nombre }} </td>
                        <td>{{ producto.precio }} </td>
                        <td>{{ producto.cantidad }} </td>
                        <td>{{ producto.stock }} </td>
                    </tr>  
               
            </tbody>
          </table>
    </div>
{% endblock %}